<app-menu></app-menu>
<div class="wrapper">
  <div class="container">

    <div class="container-in">
      <div class="barraInicial">
        Cadastrar Tweets
      </div>
      <form id="form" [formGroup]="rForm" (ngSubmit)="addPost(rForm.value)">
        <div *ngIf="valido" class="message-success">
          formulario validado com sucesso
        </div>
        <div class="form-group select">
          <label for="usuario">Usuário</label>
          <select formControlName="usuario" id="">
            <option *ngFor="let usuario of usuarios" [ngValue]="usuario">{{usuario.nome}}</option>
          </select>

          <div *ngIf="!rForm.controls['usuario'].valid && rForm.controls['usuario'].touched" class="message-danger">
            name is required
          </div>

        </div>
        <div class="form-group">

          <div *ngIf="!url && tweet">
            <img [src]="tweet.url" height="200" width="100%"> <br />
          </div>
          <div *ngIf="url">
            <img [src]="url" height="200" width="100%"> <br />
          </div>
          <input type="file" formControlname="url" (change)="onSelectFile($event)">
        </div>

        <div class="form-group">

          <div *ngIf="tweet" class="description">
            <textarea formControlName="description" value="{{tweet.description}}" id="description" cols="30"
              rows="10"></textarea>
          </div>

          <div *ngIf="!tweet">
            <textarea formControlName="description" placeholder="Faça a aqui seu comentario..." id="description"
              cols="30" rows="10"></textarea>
          </div>
          <div *ngIf="!rForm.controls['description'].valid && rForm.controls['description'].touched"
            class="message-danger">
            description is required
          </div>
        </div>
        <div class="form-group ativo">
          <label for="ativo">ativo</label>
          <input type="checkbox" formControlName="ativo" id="ativo" value="ativo">

        </div>

        <input type="submit" class="btn" value="Salvar" [disabled]='!rForm.valid'>

      </form>

    </div>
    <div class="box-bottom">
      <p>Novo no Twitter? <a href="#">Ative sua conta &raquo;</a></p>
      <p>Já ultiliza o Twitter via Mensagem de texto <a href="#">Ative sua conta &raquo;</a></p>
    </div>
  </div>
</div>