<div class="tela">
  <div class="box-left">
    <img src="../../assets/images/twitter-fundo.svg" alt="">
    <div class="box">
      <div class="form-group">
        <i class="fas fa-search fa-2x"></i>
        <h2>Siga o que lhe interessa</h2>
      </div>
      <div class="form-group">
        <i class="far fa-comment fa-2x"></i>
        <h2>Saiba o que as pessoas estão falando</h2>
      </div>
      <div class="form-group">
        <i class="fas fa-user-friends fa-2x"></i>
        <h2>Participe da conversa</h2>
      </div>
    </div>
  </div>
  <div class="box-right">
    <div class="container">
      <i class="fab fa-twitter fa-3x"></i>
      <h1>Veja O que está acontecendo no Mundo Agora</h1>
      <h2>Participe do Twitter</h2>
      <button class="btn cadastrar" routerLink="/cadastrar">Cadastrar Tweet</button>
      <button class="btn ver" routerLink="/tweets">Ver Tweet</button>
    </div>
  </div>
</div>